body {
    background-color: #f7f7f7;
}

#container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

#search {
    float: left;
    border-radius: 0px;
    outline: 2px solid black;
    box-shadow: none;
    text-align: center;
}

#submit {
    float: right;
    border-radius: 0px;
    outline: 2px solid black;
    box-shadow: none;
}

#dropdown {
    float: left;
    border-radius: 0px;
    outline: 2px solid black;
    box-shadow: none;
}

#logo {
    width: 500px !important;
    height: 250px !important;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    width: 99%;
    overflow: hidden;
}

#results-container {
    outline: 2px solid black;
}

#results-title, #shite-word {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

#results-container p {
    text-align: center;
    font-size: 25px;
}

#bad-idea {
    color: #804000;
}

#impressive-idea {
    color: #EEED09;
}

#roasts {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}